@model IndianRestaurant.Models.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-md-offset-3 col-md-6">
    <h2 class="ttable-header">Item - Details</h2>
    <h4>Are you sure you want to delete this?</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt></dt>
        <dd style="padding-top:15px;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn ttable-header" /> 
                    @Html.ActionLink("Back to List", "Index","",new { @class = "btn ttable-header" })
                </div>
            }
        </dd>
    </dl>

  
</div>
