@*
    * @File name : Details view
    * @Author : Ritesh Patel and Parvati Patel
    * @Website name : Taj Mahel(http://indianrestaurant.azurewebsites.net/)
    * @File description : This view provide details of menu.
*@
@model IndianRestaurant.Models.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-md-offset-3 col-md-6">

    <div>
        <h2 class="ttable-header">Menu - Details</h2>
        <br/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt></dt>
            <dd style="padding-top:15px;">
                @Html.ActionLink("Edit", "Edit", new { id = Model.MenuId },new { @class = "btn ttable-header" }) 
                @Html.ActionLink("Back to List", "Index","", new { @class = "btn ttable-header" })
            </dd>

        </dl>
    </div>
   
    </div>
