@*
    * @File name : Layout view
    * @Author : Ritesh Patel and Parvati Patel
    * @Website name : Taj Mahel(http://indianrestaurant.azurewebsites.net/)
    * @File description : This view provide lockout message after 3-5 attemp of login.
*@
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
